<div class="questionnaires_<%= action_name %>">
<h1>
    Questionaire Index
</h1>
<hr>
  <%= link_to "New Questions", new_survey_path %>
<ul>
  <% @surveys.each do |survey| %>
    <li>
      <%= link_to survey.name, edit_survey_path(survey) %>
    </li>
  <% end -%>
</ul>
</div>
